.container {
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
}
.step-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

}
.step-item:not(:first-child)::before{
    position: absolute;
    bottom: 2/4;
    top: 2/4;
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 20px;
    height: 20px;
    border-radius: 10rem;
    background-color: #c2c2c2;
    font-weight: 600;
    color: #fff;
}